*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
.content{
	width:100%;
	height:100px;
}
.box{
	width:100px;
	height:100px;
	background: orange;
	float: left;
	margin-right: 200px;
}
.yun{
	background: url(../img/yun.png) no-repeat;
	width:61px;
	height:37px;
	display: inline-block;
	position: absolute;
	top:30px;
	left:20px;
}

.star{
	background: url(../img/star.png) no-repeat;
	width:53px;
	height:52px;
	display: inline-block;
	position: absolute;
	top:20px;
	left:325px;
}

.fei{
	background: url(../img/fei.png) no-repeat;
	width:56px;
	height:50px;
	display: inline-block;
	position: absolute;
	top:30px;
	left:625px;
}

.bao{
	background: url(../img/bao.png) no-repeat;
	width:51px;
	height:48px;
	display: inline-block;
	position: absolute;
	top:30px;
	left:925px;
}