body {
  font-size: 0.12rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  font-size: 0.18rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background:url(../images/bg_02.jpg) no-repeat ;
  background-size: 100% 100%;
  display: -webkit-flex;
  color: #fff;
  h3{
    -webkit-flex:1;
    font-weight: normal;
    font-size: .15rem;
  }
  &>i{
    padding-right: .25rem;
  }
}

.content {
  -webkit-flex: 1;
  overflow-y: scroll;
  background-color: #faf9f9;
}
.banner{
  height:1.3rem;
  .swiper-pagination-bullet-active{
    background-color: red;
  }
  img{
    width:100%;
    height:100%;
  }
}
.title{
  height:.39rem;
  line-height: .39rem;
  font-size: .12rem;
  padding-left: .3rem;
  position: relative;
  border-bottom: 1px solid #ccc;
  b{
    position: absolute;
    left:.1rem;
    top:.1rem;
    width:.08rem;
    height:.15rem;
    background-color: red;
  }
}
.content-list{
  display: -webkit-flex;
  -webkit-flex-wrap:wrap;
  dl{
    //-webkit-flex:1;
     width:25%;
    border-bottom: 1px solid #ccc;
    padding-bottom: .14rem;
    border-right: 1px solid #ccc;
    padding-left: .1rem;
    padding-right: .08rem;
    box-sizing: border-box;
    dt{
      img{
        width:.29rem;
        height:.29rem;
        padding-top: .16rem;
        padding-left: .16rem;
      }
    }
    dd{
      padding-top: .15rem;
      font-size: .12rem;
      color: #4e4d4d;
    }
  }
}

.footer {
    height: 0.5rem;
    text-align: center;
    border-top: 1px solid #ccc;
   display: -webkit-flex;
   dl{
     -webkit-flex:1;
     padding-top: .05rem;
     dt{
       img {
         width: .24rem;
         height: .24rem;
       }
     }

   }
}

